name: Test, Build, and Push Backend Image to ECR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v5

    - name: Print working directory
      run: |
        cd backend
        pwd
      
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@main
      with:
        role-to-assume: ${{ secrets.AWS_GITHUB_ACTIONS_ROLE }}
        aws-region: "us-east-2"

    - name: Test AWS Credentials
      run: aws sts get-caller-identity

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.12.3"

    # I am self hosting so these are installed but if it isn't for you then you must install these
    # - name: Install os dependencies
    #   run: | 
    #     sudo apt-get update
    #     sudo apt-get install -y ffmpeg libsndfile1 libsox-dev sox git build-essential python3-dev portaudio19-dev
    
    - name: Install python dependencies
      run: |
        cd backend
        pip install poetry
        poetry install

    - name: Test integrated tests application locally
      run: |
        cd backend
        poetry run python -m pytest -s --backend local src/tests/test_api.py::test_pipe_full

    - name: Print log results of tests
      run: | 
        cd backend
        poetry run python -m src.tests.print_last_log

    - name: Authenticate Docker client 
      run: |
        aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 013748579700.dkr.ecr.us-east-2.amazonaws.com

    - name: Build Docker image
      run: |
        cd backend
        docker build -t multilingual-auto-caption .

    - name: Tag image
      run: docker tag multilingual-auto-caption:latest 013748579700.dkr.ecr.us-east-2.amazonaws.com/multilingual-auto-caption:latest

    - name: Run docker image
      run: |
        cd backend
        docker run --name mac-backend-test --detach --rm -p 5000:5000 \
          -v ~/.aws:/home/app/.aws:ro \
          -e AWS_SHARED_CREDENTIALS_FILE=/home/app/.aws/credentials \
          -e AWS_PROFILE=default \
          -e AWS_REGION=us-east-2 \
          multilingual-auto-caption
        sleep 30 # wait for the container to be fully up and running
    
    - name: Test integrated tests application in docker
      run: |
        cd backend
        poetry run python -m pytest -s --backend docker src/tests/test_api.py::test_pipe_full
    
    - name: Push image to ECR
      run: docker push 013748579700.dkr.ecr.us-east-2.amazonaws.com/multilingual-auto-caption:latest

    - name : Stop docker container
      run: | 
        cd backend
        docker container stop mac-backend-test

    - name: Remove docker container
      run: docker rm -f mac-backend-test